In [1]:
import pandas as pd
import numpy as np
import json as js
from matplotlib import pyplot as plt

from sklearn.datasets import make_checkerboard
from sklearn.datasets import samples_generator as sg
from sklearn.cluster.bicluster import SpectralBiclustering
from sklearn.metrics import consensus_score

In [ ]:
gg=pd.read_csv('listen_with.json',sep='\t')
gg

,ts,post_data,ltype,sid_msno,sid_terr_id
0,1480524049000,"{""type"":3,""act"":1,""val"":""970168""}",3,69639108,0
1,1480524081000,"{""type"":3,""act"":1,""val"":""2254118""}",3,154589117,0
2,1480524081000,"{""type"":3,""act"":1,""val"":""3458422""}",3,79667568,0
3,1480524083000,"{""type"":3,""act"":1,""val"":""5615853""}",3,7991598,0
4,1480524180000,"{""type"":3,""act"":1,""val"":""174547449"",""pos"":1}",3,24034196,0
5,1480524188000,"{""type"":3,""act"":1,""val"":""166843500""}",3,338068587121,0
6,1480524243000,"{""type"":3,""act"":2,""val"":""48864744""}",3,9548452,0
7,1480524298000,"{""type"":3,""act"":1,""val"":""21390396""}",3,6381877,0
8,1480524348000,"{""type"":3,""act"":2,""val"":""178404269""}",3,338068587121,0
9,1480524436000,"{""type"":1,""to"":""47177089""}",1,94612973,0
10,1480524441000,"{""type"":3,""act"":1,""val"":""138032174""}",3,338068587121,0
11,1480524450000,"{""type"":3,""act"":2,""val"":""138032174""}",3,338068587121,0
12,1480524467000,"{""type"":3,""act"":1,""val"":""208350715"",""pos"":70}",3,338068587121,0
13,1480524516000,"{""type"":3,""act"":1,""val"":""207688543""}",3,20777649,0
14,1480524545000,"{""type"":3,""act"":1,""val"":""849226""}",3,145069087,0
15,1480524560000,"{""type"":3,""act"":1,""val"":""63415893"",""pos"":1}",3,9597029,0
16,1480524581000,"{""type"":3,""act"":1,""val"":""56203983""}",3,24034196,0
17,1480524590000,"{""type"":3,""act"":2,""val"":""5975275""}",3,5240634,0
18,1480524629000,"{""type"":3,""act"":1,""val"":""969705""}",3,11495497,0
19,1480524632000,"{""type"":3,""act"":1,""val"":""4063725""}",3,1722690,0
20,1480524671000,"{""type"":3,""act"":1,""val"":""207011923""}",3,11722973,0
21,1480524683000,"{""type"":3,""act"":1,""val"":""5408104""}",3,3515068,0
22,1480524709000,"{""type"":1,""to"":""129515986""}",1,9677757,0
23,1480524732000,"{""type"":3,""act"":2,""val"":""70624200""}",3,338068587121,0
24,1480524743000,"{""type"":1,""to"":""6968702""}",1,11891931,0
25,1480524750000,"{""type"":3,""act"":1,""val"":""22776060""}",3,60700196,0
26,1480524759000,"{""type"":3,""act"":1,""val"":""210364716""}",3,20777649,0
27,1480524796000,"{""type"":3,""act"":1,""val"":""207265484"",""pos"":56}",3,338068807704,0
28,1480524804000,"{""type"":3,""act"":3,""val"":""82466302""}",3,143091931,0
29,1480524821000,"{""type"":3,""act"":1,""val"":""107683944""}",3,122749345,2
...,...,...,...,...,...
4075226,1480672146000,"{""type"":3,""act"":1,""val"":""110603501""}",3,130454455,0
4075227,1480672165000,"{""type"":3,""act"":1,""val"":""36550615""}",3,102409033,0
4075228,1480672171000,"{""type"":3,""act"":1,""val"":""194450062""}",3,72470,0
4075229,1480672184000,"{""val"":""201688105"",""type"":3,""act"":1,""pos"":35}",3,338063876198,2
4075230,1480672198000,"{""type"":3,""act"":1,""val"":""209147269""}",3,338063876198,2
4075231,1480672214000,"{""type"":3,""act"":1,""val"":""571083""}",3,5545104,0
4075232,1480672260000,"{""type"":1,""to"":338068442510}",1,12042335,0
4075233,1480672260000,"{""type"":1,""to"":338068442510}",1,94805135,0
4075234,1480672283000,"{""type"":3,""act"":1,""val"":""205585355""}",3,126698081,0
4075235,1480672295000,"{""type"":1,""to"":338068442510}",1,125932609,0
4075236,1480672309000,"{""type"":3,""act"":1,""val"":""2457268""}",3,7865296,0
4075237,1480672322000,"{""type"":3,""act"":1,""val"":""168182369""}",3,168673,0
4075238,1480672336000,"{""type"":5,""msg_id"":351022135}",5,140428060,0
4075239,1480672343000,"{""type"":3,""act"":1,""val"":""1559931""}",3,7729958,0
4075240,1480672371000,"{""type"":1,""to"":338068442510}",1,135609289,0
4075241,1480672401000,"{""type"":3,""act"":1,""val"":""839813""}",3,24846348,0
4075242,1480672411000,"{""type"":1,""to"":""338068442510""}",1,338062422306,0
4075243,1480672412000,"{""type"":1,""to"":""62435276""}",1,95171387,0
4075244,1480672423000,"{""type"":3,""act"":3,""val"":""213940191""}",3,28619869,0
4075245,1480672430000,"{""type"":1,""to"":338068442510}",1,338068889794,0
4075246,1480672437000,"{""type"":5,""msg_id"":351022880}",5,2498958,0
4075247,1480672439000,"{""type"":1,""to"":""338068442510""}",1,80782998,0
4075248,1480672459000,"{""type"":5,""msg"":""՞""}",5,338068890504,0
4075249,1480672471000,"{""type"":3,""act"":1,""val"":""162715190""}",3,83558717,0
4075250,1480672480000,"{""type"":1,""to"":""7022690""}",1,338063945658,0
4075251,1480672521000,"{""type"":1,""to"":7022690}",1,18070735,0
4075252,1480672523000,"{""type"":1,""to"":338068442510}",1,338066576913,0
4075253,1480672532000,"{""type"":1,""to"":338068442510}",1,338068890750,0
4075254,1480672578000,"{""type"":1,""to"":338068442510}",1,51143159,0
4075255,1480672580000,"{""type"":3,""act"":1,""val"":""1649416""}",3,338062324618,0

In [ ]:
####
gg['val'],gg['type'],gg['act']=0,0,0
for j in  range(0,len(gg)):
    #p=json.loads(p.loc[j:j,:].post_data.values[0].).get('val')
    gg.iloc[j,gg.columns.get_loc('val')]=js.loads(gg.loc[j:j,:].post_data.values[0]).get('val')
    gg.iloc[j,gg.columns.get_loc('type')]=js.loads(gg.loc[j:j,:].post_data.values[0]).get('type')
    gg.iloc[j,gg.columns.get_loc('act')]=js.loads(gg.loc[j:j,:].post_data.values[0]).get('act')
    #p.loc[j:j,:]['type']=json.loads(p.loc[j:j,:].post_data.values[0]).get('type')
    #p.loc[j:j,:]['val']=json.loads(p.loc[j:j,:].post_data.values[0]).get('val')

In [ ]:
gg